@charset "UTF-8";

*,
*::before,
*::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html,
body {
  box-sizing: border-box;
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

article,
body,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
ol,
p,
section,
select,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

nav ul li,
nav ol li {
  display: inline-block;
}

::-moz-selection,
::-moz-selection {
  background-color: lightgray;
  color: #000000;
  text-shadow: none;
}

::selection,
::-moz-selection {
  background-color: lightgray;
  color: #000000;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}

[aria-controls] {
  cursor: pointer;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[aria-disabled] {
  cursor: default;
}

p + p {
  margin-top: 1rem;
}

[class^=l-] {
  display: flex;
  flex-wrap: nowrap;
}

.l-full > * {
  flex: 1 1 auto;
}

.l-halves > * {
  width: 50%;
}

.l-thirds > * {
  width: 33.33%;
}

.l-thirds--one-two > *:nth-child(1) {
  width: 33.33%;
}

.l-thirds--one-two > *:nth-child(2) {
  width: 66.66%;
}

.l-thirds--two-one > *:nth-child(1) {
  width: 66.66%;
}

.l-thirds--two-one > *:nth-child(2) {
  width: 33.33%;
}

.l-quarters > * {
  width: 25%;
}

.l-quarters--one-three > *:nth-child(1) {
  width: 25%;
}

.l-quarters--one-three > *:nth-child(2) {
  width: 75%;
}

.l-auto {
  flex: 1 1 auto;
}

.l-max--960 {
  max-width: 960px;
}

@media (max-width: 1279px) {
  .l--1280 {
    flex-wrap: wrap;
  }

  .l--1280 > * {
    width: 100%;
  }
}

@media (max-width: 1139px) {
  .l--1140 {
    flex-wrap: wrap;
  }

  .l--1140 > * {
    width: 100%;
  }
}

@media (max-width: 959px) {
  .l--960 {
    flex-wrap: wrap;
  }

  .l--960 > * {
    width: 100%;
  }
}

@media (max-width: 639px) {
  .l--640 {
    flex-wrap: wrap;
  }

  .l--640 > * {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .l--480 {
    flex-wrap: wrap;
  }

  .l--480 > * {
    width: 100%;
  }
}

.growler {
  position: absolute;
  bottom: 2rem;
  right: -100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 500px;
  padding: 1rem 2rem;
  transition: all 250ms linear;
  z-index: 99;
}

.growler.show {
  right: 2rem;
}

.growler.success {
  color: #59a96a;
}

.growler.success::before {
  content: "\2713";
  padding: 0 2rem 0 0;
  font-size: 3rem;
}

.growler.alert {
  color: #de6b48;
}

.growler.alert::before {
  content: "!";
  padding: 0 2rem 0 0;
  font-size: 3rem;
}

.growler.error {
  color: #d7263d;
}

.growler.error::before {
  content: "X";
  padding: 0 2rem 0 0;
  font-size: 3rem;
}

.alert {
  position: absolute;
  min-height: 300px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 99999999;
  left: 100vw;
  top: calc(50vh - 300px);
  transition: left 120ms ease;
}

.alert.show {
  left: calc(50vw - 250px);
}

.alert p,
.alert h3 {
  margin-bottom: 1rem;
}

.alert__warning-message {
  max-width: 50ch;
  text-align: center;
  padding: 1rem;
}

.alert__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.alert__warning {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #de6b48;
  font-weight: bold;
  height: 150px;
  width: 150px;
  margin: 2rem;
}

.alert__warning svg {
  position: relative;
  height: 100%;
  width: 100%;
  fill: #de6b48;
}

.alert__warning div {
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
  border: 5px solid #de6b48;
  border-radius: 50%;
  -webkit-animation: pulse 1.5s infinite ease-in-out;
          animation: pulse 1.5s infinite ease-in-out;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale 1.1;
            transform: scale 1.1;
    opacity: 0.3;
  }

  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale 1.1;
            transform: scale 1.1;
    opacity: 0.3;
  }

  100% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    opacity: 0;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #F6F6F2;
}

:root {
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

button.affirm,
button.delete {
  background: none;
  height: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  font-family: "PT Sans", sans-serif;
  transition: all 120ms ease-in-out;
  padding: 0 0.5rem;
  cursor: pointer;
}

button.affirm:hover,
button.delete:hover {
  color: #F6F6F2;
}

.btn,
.btn-primary,
.btn-icon,
.btn-tiny,
.btn-small {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: auto;
  font-size: 18px;
  padding: 0.5rem 1rem;
  border-radius: 0;
  margin: 1rem;
  border: none;
  cursor: pointer;
  transition: all 120ms linear;
}

.btn-primary,
.btn-icon,
.btn-tiny,
.btn-small {
  border: 1px solid #BF68A0;
  color: #BF68A0;
  background: #F6F6F2;
}

.btn-primary:hover,
.btn-icon:hover,
.btn-tiny:hover,
.btn-small:hover {
  color: #F6F6F2;
  background: #BF68A0;
}

.btn-small {
  height: 2rem;
}

.btn-tiny {
  height: 1rem;
  padding: 0 0.25rem;
  border: none;
}

.btn-tiny:hover {
  background: #F6F6F2;
  color: #e4b7e5;
}

.btn-icon {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  border-color: #d7263d;
  background: #d7263d;
  color: #F6F6F2;
  padding: 0;
}

.btn-icon:hover {
  background: #F6F6F2;
  color: #d7263d;
}

.btn--no-margin {
  margin: 1rem 0;
}

.btn.close,
.close.btn-primary,
.close.btn-small,
.close.btn-tiny,
.close.btn-icon {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  color: #BF68A0;
}

.btn.close:hover,
.close.btn-primary:hover,
.close.btn-small:hover,
.close.btn-tiny:hover,
.close.btn-icon:hover {
  color: #3A4755;
}

.btn.insert,
.insert.btn-primary,
.insert.btn-small,
.insert.btn-tiny,
.insert.btn-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

button.delete {
  color: #d7263d;
  border-color: #d7263d;
}

button.delete:hover {
  background: #d7263d;
}

button.affirm {
  color: #59a96a;
  border-color: #59a96a;
}

button.affirm:hover {
  background: #59a96a;
}

input[type=checkbox] {
  display: none;
}

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #3A4755;
  font-size: 1rem;
  margin-top: 1rem;
}

.checkbox__box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BF68A0;
  position: relative;
  height: 1rem;
  width: 1rem;
  border: 1px solid #BF68A0;
  margin-left: 0.5rem;
}

.checkbox__box::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.checkbox input:checked + span::after {
  content: "\2713";
}

input[type=checkbox]:checked + label::before {
  content: "\2713";
}

fieldset {
  position: relative;
  border: 0;
  padding: 0;
  width: 100%;
  max-width: 960px;
  margin: 2rem 0;
}

fieldset label:not(.checkbox) {
  position: absolute;
  left: 0;
  top: 4px;
  color: rgba(191, 104, 160, 0.5);
  font-size: 1.5rem;
  padding-left: 1rem;
  transition: all 120ms linear;
}

fieldset input {
  background: none;
  border: none;
  border-bottom: 1px solid #BF68A0;
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  padding-left: 1rem;
}

fieldset input[type=checkbox]:invalid {
  box-shadow: none;
  height: 1rem;
}

fieldset button {
  position: absolute;
  right: 1rem;
  top: calc(50% - .75rem);
}

fieldset textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #BF68A0;
  width: 100%;
  font-size: 1.5rem;
  min-height: 2.5rem;
  padding-left: 1rem;
  font-family: "PT Sans", sans-serif;
}

fieldset input:not([type=checkbox]):focus ~ label,
fieldset input:not([type=checkbox]):focus-within ~ label,
fieldset input:not([type=checkbox]).focus-within ~ label,
fieldset input:not([type=checkbox]):valid ~ label,
fieldset input[readonly=readonly] ~ label,
fieldset textarea:focus ~ label,
fieldset textarea:focus-within ~ label,
fieldset textarea.focus-within ~ label,
fieldset textarea:valid ~ label {
  top: -1rem;
  padding-left: 0;
  font-size: 0.75rem;
}

fieldset.small {
  width: 200px;
}

fieldset.small input {
  font-size: 0.75rem;
  height: 1.5rem;
  width: 200px;
  padding-left: 0.5rem;
}

fieldset.small label {
  font-size: 0.75rem;
}

fieldset.small button.btn-tiny {
  top: 3px;
  right: -1.5rem;
  margin: 0;
}

.input--wysiwyg {
  position: relative;
}

.input--text {
  font-family: sans-serif;
  width: 960px;
  position: relative;
  margin: 2rem 0;
}

.input--text label {
  position: absolute;
  font-size: 24px;
  left: 1rem;
  top: calc(50% - 14px);
  color: rgba(191, 104, 160, 0.5);
}

.input--text input {
  width: 100%;
  height: 2.5rem;
  font-size: 24px;
  padding-left: 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid #BF68A0;
}

.input--text input:valid ~ label,
.input--text input:focus ~ label,
.input--text input:focus-within ~ label,
.input--text input.focus-within ~ label {
  top: -1rem;
  left: 0;
  font-size: 0.75rem;
}

.select-wrap {
  position: relative;
  background: none;
  width: 20rem;
  height: 2rem;
}

.select-wrap::after {
  content: "\2C7";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 2rem;
  z-index: 0;
  font-size: 2rem;
  padding-top: 1.25rem;
  color: #BF68A0;
}

.select-wrap select {
  position: relative;
  display: block;
  width: 100%;
  height: 2rem;
  background: none;
  border: 1px solid #BF68A0;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: 1;
  cursor: pointer;
  font-size: 1rem;
  color: #3A4755;
  padding-left: 1rem;
}

.select-wrap select:focus {
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

#newTag:invalid {
  box-shadow: none;
}

.ql-img {
  fill: #BF68A0;
}

.ql-img:hover {
  fill: #885FA6;
  stroke: #885FA6;
}

.input-field {
  margin-top: 2rem;
}

input[type=radio] {
  display: none;
}

.tab {
  display: inline-flex;
  height: 2rem;
  width: 8rem;
  justify-content: center;
  align-items: center;
  background: #e4b7e5;
  cursor: pointer;
}

#tabOne:checked ~ .content--wrapper #tabContentOne {
  display: block;
}

#tabOne:checked ~ label[for=tabOne] {
  background: #CA9CAB;
}

#tabTwo:checked ~ .content--wrapper #tabContentTwo {
  display: block;
}

#tabTwo:checked ~ label[for=tabTwo] {
  background: #CA9CAB;
}

#tabThree:checked ~ .content--wrapper #tabContentThree {
  display: block;
}

#tabThree:checked ~ label[for=tabThree] {
  background: #CA9CAB;
}

.content--wrapper {
  position: relative;
}

.content--wrapper .content {
  display: none;
  position: absolute;
}

.field-card {
  position: relative;
  display: block;
  height: auto;
  background: lightgray;
  border: 2px solid darkgrey;
  padding: 1rem;
  margin: 1rem 0;
  width: 480px;
}

.field-card fieldset {
  height: 2rem;
}

.field-card fieldset label {
  margin-left: 0;
}

.field-card__meta {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.5rem;
  padding: 0 1rem;
}

.dropzone {
  position: relative;
  height: 100%;
  box-sizing: content-box;
  margin-top: -5px;
  margin-left: -5px;
  border: 5px dashed rgba(191, 104, 160, 0);
  transition: border-color 240ms ease-in-out;
}

.dropzone.highlighted {
  border-color: #bf68a0;
}

.dropzone.highlighted::before {
  z-index: 99;
  opacity: 0.5;
}

.dropzone::before {
  content: "Drop Files to Upload";
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #BF68A0;
  z-index: -1;
  opacity: 0;
  transition: all 240ms ease-in-out;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  grid-gap: 5px;
}

.img-grid__image {
  position: relative;
  height: 150px;
  width: 150px;
}

.img-grid__image::after {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 99;
}

.img-grid__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.media-window {
  position: absolute;
  height: 75%;
  width: 75%;
  top: calc(50% - 37.5%);
  left: 100%;
  background: white;
  z-index: 999;
  overflow: scroll;
  padding: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: left 240ms ease-in;
}

.media-window.open {
  left: calc(50% - 37.5%);
}

.selected::before {
  background: #BF68A0;
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  z-index: -1;
  height: calc(100% + 6px);
  width: calc(100% + 6px);
}

.button-row {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-card {
  width: 25rem;
  margin-bottom: 2rem;
}

.user-card__info:not(:first-of-type) {
  margin-top: 0.5rem;
}

.user-card button {
  margin-top: 0.5rem;
}

::-moz-selection,
::-moz-selection {
  background: rgba(136, 95, 166, 0.25) !important;
  color: #3A4755;
}

::selection,
::-moz-selection {
  background: rgba(136, 95, 166, 0.25) !important;
  color: #3A4755;
}

html {
  font-family: "PT Sans", sans-serif;
  color: #3A4755;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3A4755;
}

a {
  color: #BF68A0;
  text-decoration: none;
  transition: all 120ms ease-in-out;
}

a:focus {
  outline: none;
}

a:focus,
a:hover {
  color: #88396c;
}

.dashboard {
  display: flex;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.dashboard__nav {
  display: block;
  height: 100%;
  background: #3A4755;
  left: 0;
  top: 0;
  flex-shrink: 0;
}

.dashboard__nav .open {
  width: 200px;
}

.dashboard__nav ul {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.dashboard__nav li {
  height: 2rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  position: relative;
  transition: all 120ms ease-in-out;
}

.dashboard__nav li:hover,
.dashboard__nav li:focus {
  padding-left: 1.5rem;
}

.dashboard__nav li:hover::after,
.dashboard__nav li:focus::after {
  width: 100%;
}

.dashboard__nav li::before,
.dashboard__nav li::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 120ms ease-in-out;
}

.dashboard__nav li::before {
  height: 0%;
  bottom: 0;
  width: 3px;
}

.dashboard__nav li::after {
  height: 100%;
  width: 0%;
  top: 0;
  background: -moz-linear-gradient(left, rgba(191, 104, 160, 0.25) 0%, rgba(228, 183, 229, 0) 100%);
  z-index: 0;
}

.dashboard__nav li.router-link-exact-active {
  padding-left: 2rem;
}

.dashboard__nav li.router-link-exact-active::before {
  height: 100%;
  top: 0;
  background: -moz-linear-gradient(top, #BF68A0 0%, #CA9CAB 100%);
}

.dashboard__nav li.router-link-exact-active::after {
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(191, 104, 160, 0.25) 0%, rgba(228, 183, 229, 0) 100%);
  z-index: 0;
}

.dashboard__nav a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  color: #d7d0c8;
  text-decoration: none;
  transition: all 120ms linear;
  z-index: 2;
}

.dashboard__nav.open + .dashboard__body {
  left: 200px;
  width: calc(100% - 200px);
}

.dashboard__body {
  position: absolute;
  display: block;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background: #F6F6F2;
  top: 0;
  overflow: scroll;
  border-top-left-radius: 25px;
  z-index: 2;
  left: 0;
  transition: all 240ms ease-in;
  padding: 5rem;
}

.dashboard__nav-toggle {
  content: "+";
  position: absolute;
  height: 100vh;
  width: 25px;
  left: 0;
  color: white;
  cursor: pointer;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a6000000", endColorstr="#00000000", GradientType=1);
  /* IE6-9 */
  transition: opacity 120ms ease-in-out;
}

.dashboard__nav-toggle:hover {
  opacity: 1;
}

.dashboard__nav.open + .dashboard__nav-toggle {
  content: "-";
}

.ql-snow {
  background: #F6F6F2;
  width: 960px;
}

.ql-editor {
  height: 480px;
}

.invalid {
  border: 1px solid #d7263d;
  transition: all 120ms linear;
}

.page-card {
  display: block;
  width: 25rem;
  margin-bottom: 1rem;
}

.page-card__details {
  border-bottom: 1px solid #3A4755;
  padding-bottom: 0.5rem;
}

.page-card__utilities {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-card__children-wrap {
  position: relative;
  margin-top: 1rem;
  margin-left: 2rem;
}

.page-card__children-wrap summary {
  cursor: pointer;
  list-style: none;
}

.page-card__children-wrap summary::before {
  content: "+";
  position: absolute;
  left: -1rem;
}

.page-card__children-wrap[open] summary::before {
  content: "-";
}

.page-card__child {
  position: relative;
  width: 25rem;
}

.page-card__child::before {
  content: "\2EA";
  position: relative;
  left: 0;
}

.add-field {
  width: 960px;
  display: flex;
  align-items: center;
}

fieldset + * {
  margin-top: 0 !important;
}

.empty {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CA9CAB;
}

#pageDescription {
  width: 960px;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: 1px solid #BF68A0;
}

.ql-container.ql-snow svg,
.ql-container.ql-snow svg path,
.ql-container.ql-snow svg line,
.ql-container.ql-snow svg rect,
.ql-container.ql-snow svg polyline,
.ql-container.ql-snow svg polygon,
.ql-toolbar.ql-snow svg,
.ql-toolbar.ql-snow svg path,
.ql-toolbar.ql-snow svg line,
.ql-toolbar.ql-snow svg rect,
.ql-toolbar.ql-snow svg polyline,
.ql-toolbar.ql-snow svg polygon {
  stroke: #BF68A0;
}

.ql-container.ql-snow .ql-fill,
.ql-toolbar.ql-snow .ql-fill {
  fill: #BF68A0 !important;
}

.ql-container.ql-snow .ql-picker-label,
.ql-toolbar.ql-snow .ql-picker-label {
  color: #BF68A0;
}

.ql-container.ql-snow .ql-snow.ql-toolbar button:hover,
.ql-container.ql-snow .ql-snow .ql-toolbar button:hover,
.ql-container.ql-snow .ql-snow.ql-toolbar button:focus,
.ql-container.ql-snow .ql-snow .ql-toolbar button:focus,
.ql-container.ql-snow .ql-snow.ql-toolbar button.ql-active,
.ql-container.ql-snow .ql-snow .ql-toolbar button.ql-active,
.ql-container.ql-snow .ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-container.ql-snow .ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-container.ql-snow .ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-container.ql-snow .ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-container.ql-snow .ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-container.ql-snow .ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-container.ql-snow .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-container.ql-snow .ql-snow .ql-toolbar .ql-picker-item.ql-selected,
.ql-toolbar.ql-snow .ql-snow.ql-toolbar button:hover,
.ql-toolbar.ql-snow .ql-snow .ql-toolbar button:hover,
.ql-toolbar.ql-snow .ql-snow.ql-toolbar button:focus,
.ql-toolbar.ql-snow .ql-snow .ql-toolbar button:focus,
.ql-toolbar.ql-snow .ql-snow.ql-toolbar button.ql-active,
.ql-toolbar.ql-snow .ql-snow .ql-toolbar button.ql-active,
.ql-toolbar.ql-snow .ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-toolbar.ql-snow .ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-toolbar.ql-snow .ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-toolbar.ql-snow .ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-toolbar.ql-snow .ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-toolbar.ql-snow .ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-toolbar.ql-snow .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-toolbar.ql-snow .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #dark-accent;
}

@-webkit-keyframes bounce {
  0% {
    left: 0;
  }

  5% {
    left: 80px;
  }

  20% {
    left: 0;
  }

  30% {
    left: 80px;
  }

  38% {
    left: 0;
  }

  45% {
    left: 55px;
  }

  50% {
    left: 0;
  }

  55% {
    left: 25px;
  }

  60% {
    left: 0;
  }
}

@keyframes bounce {
  0% {
    left: 0;
  }

  5% {
    left: 80px;
  }

  20% {
    left: 0;
  }

  30% {
    left: 80px;
  }

  38% {
    left: 0;
  }

  45% {
    left: 55px;
  }

  50% {
    left: 0;
  }

  55% {
    left: 25px;
  }

  60% {
    left: 0;
  }
}

.card {
  display: block;
  width: 25rem;
  margin-bottom: 1rem;
}

.card__details {
  border-bottom: 1px solid #3A4755;
  padding-bottom: 0.5rem;
}

.card__utilities {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__children-wrap {
  position: relative;
  margin-top: 1rem;
  margin-left: 2rem;
}

.card__children-wrap summary {
  cursor: pointer;
  list-style: none;
}

.card__children-wrap summary::before {
  content: "+";
  position: absolute;
  left: -1rem;
}

.card__children-wrap[open] summary::before {
  content: "-";
}

.card__child {
  position: relative;
  width: 25rem;
}

.card__child::before {
  content: "\2EA";
  position: relative;
  left: 0;
}

.tags fieldset {
  margin-top: 1rem;
  margin-bottom: 0;
}

.tags fieldset label {
  margin-top: 0;
}

