.alert {
    position: absolute;

    min-height: 300px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: white;

    padding: 2rem;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);

    z-index: 99999999;

    // this is added when an alert pops up
    &.show {
        left: calc(50vw - 250px);
    }

    left: 100vw;
    top: calc(50vh - 300px);

    transition: left 120ms ease;

    p,
    h3 {
        margin-bottom: 1rem;
    }

    &__warning-message {
        max-width: 50ch;
        text-align: center;
        padding: 1rem;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 30%;
    }

    // the pulsing exclamation point
    &__warning {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        text-align: center;
        color: $orange;
        font-weight: bold;

        height: 150px;
        width: 150px;

        margin: 2rem;

        svg {
            position: relative;
            height: 100%;
            width: 100%;
            fill: $orange;
        }

        div {
            position: absolute;
            top: 0;
            left: 0;
            height: 150px;
            width: 150px;

            border: 5px solid $orange;
            border-radius: 50%;

            animation: pulse 1.5s infinite ease-in-out;
        }

    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale (1.1);
        opacity: .3;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}
