%btn-default {
    background: none;
    height: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    font-family: 'PT Sans', sans-serif;
    transition: all 120ms ease-in-out;
    padding: 0 .5rem;
    cursor: pointer;

    &:hover {
        color: $white;
    }
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: auto;
    font-size: 18px;
    padding: .5rem 1rem;
    border-radius: 0;
    margin: 1rem;
    border: none;
    cursor: pointer;
    transition: all 120ms linear;

    &-primary {
        @extend .btn;

        border: 1px solid $main-accent;
        color: $main-accent;
        background: $white;

        &:hover {
            color: $white;
            background: $main-accent;
        }
    }

    &-small {
        @extend .btn-primary;

        height: 2rem;
    }

    // buttons with no text, only icons
    // as of writing, only occurs on delete button on media window
    &-icon {
        @extend .btn-primary;
        height: 1.5rem;
        width: 1.5rem;
        position: absolute;
        top: -1.5rem;
        right: -1.5rem;
        border-color: $red;
        background: $red;
        color: $white;
        padding: 0;

        &:hover {
            background: $white;
            color: $red;
        }
    }

    &--no-margin {
        margin: 1rem 0;
    }

    &.close {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        color: $main-accent;

        &:hover {
            color: $black;
        }
    }

    &.insert {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

button.delete {
    @extend %btn-default;
    color: $red;
    border-color: $red;

    &:hover {
        background: $red;
    }
}

button.affirm {
    @extend %btn-default;

    color: $green;
    border-color: $green;

    &:hover {
        background: $green;
    }
}
