.field-card {
    position: relative;
    display: block;
    height: auto;
    background: lightgray;
    border: 2px solid darkgrey;
    padding: 1rem;
    margin: 1rem 0;
    width: 480px;

    fieldset {
        height: 2rem;

        label {
            margin-left: 0;
        }
    }

    &__meta {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: .5rem;
        padding: 0 1rem;
    }
}