// styling for various inputs

input[type=checkbox] {
    display: none;
}

.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $black;
    font-size: 1rem;
    margin-top: 1rem;

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $main-accent;
        position: relative;
        height: 1rem;
        width: 1rem;
        border: 1px solid $main-accent;
        margin-left: .5rem;

        &::after {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }

    input:checked+span {

        &::after {
            content: "✓";
        }
    }
}

input[type=checkbox]:checked+label {

    &::before {
        content: "✓";
    }
}

fieldset {
    position: relative;
    border: 0;
    padding: 0;
    width: 100%;
    max-width: 960px;
    margin: 2rem 0;

    label:not(.checkbox) {
        position: absolute;
        left: 0;
        top: 4px;
        color: rgba($main-accent, .5);
        font-size: 1.5rem;
        padding-left: 1rem;
        transition: all 120ms linear;
    }

    input {
        background: none;
        border: none;
        border-bottom: 1px solid $main-accent;
        width: 100%;
        height: 2.5rem;
        font-size: 1.5rem;
        padding-left: 1rem;

        &[type=checkbox]:invalid {
            box-shadow: none;
            height: 1rem;
        }
    }

    button {
        position: absolute;
        right: 1rem;
        top: calc(50% - .75rem);
    }

    textarea {
        background: none;
        border: none;
        border-bottom: 1px solid $main-accent;
        width: 100%;
        font-size: 1.5rem;
        min-height: 2.5rem;
        padding-left: 1rem;
        font-family: 'PT Sans', sans-serif;
    }

    input:not([type=checkbox]):focus~label,
    input:not([type=checkbox]):focus-within~label,
    input:not([type=checkbox]).focus-within~label,
    input:not([type=checkbox]):valid~label,
    input[readonly="readonly"]~label,
    textarea:focus~label,
    textarea:focus-within~label,
    textarea.focus-within~label,
    textarea:valid~label {
        top: -1rem;
        padding-left: 0;
        font-size: .75rem;
    }

    &.small {
        width: 200px;

        input {
            font-size: .75rem;
            height: 1.5rem;
            width: 200px;
            padding-left: .5rem;
        }

        label {
            font-size: .75rem;
        }

        button.btn-tiny {
            top: 3px;
            right: -1.5rem;
            margin: 0;
        }
    }
}

.input {

    &--wysiwyg {
        position: relative;
    }

    &--text {
        font-family: sans-serif;
        width: 960px;
        position: relative;

        margin: 2rem 0;

        label {
            position: absolute;
            font-size: 24px;
            left: 1rem;
            top: calc(50% - 14px);
            color: rgba($main-accent, .5);
        }

        input {
            width: 100%;
            height: 2.5rem;
            font-size: 24px;
            padding-left: 1rem;
            background: none;
            border: none;
            border-bottom: 1px solid $main-accent;

            &:valid,
            &:focus,
            &:focus-within,
            &.focus-within {
                &~label {
                    top: -1rem;
                    left: 0;
                    font-size: .75rem;
                }
            }
        }
    }
}


.select-wrap {
    position: relative;
    background: none;
    width: 20rem;
    height: 2rem;

    &::after {
        content: "ˇ";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        height: 2rem;
        width: 2rem;
        z-index: 0;
        font-size: 2rem;
        padding-top: 1.25rem;
        color: $main-accent;
    }

    select {
        position: relative;
        display: block;
        width: 100%;
        height: 2rem;
        background: none;
        border: 1px solid $main-accent;
        -moz-appearance: none;
        -webkit-appearance: none;
        z-index: 1;
        cursor: pointer;
        font-size: 1rem;
        color: $black;
        padding-left: 1rem;

        &:focus {
            outline: none;
        }
    }
}

input:focus,
select:focus {
    outline: none;
}

#newTag:invalid {
    box-shadow: none;
}

.ql-img {
    fill: $main-accent;

    &:hover {
        fill: $purple;
        stroke: $purple;
    }
}

.input-field {
    margin-top: 2rem;
}
