.dropzone {
    position: relative;
    height: 100%;
    box-sizing: content-box;
    margin-top: -5px;
    margin-left: -5px;
    border: 5px dashed rgba($main-accent, 0);
    transition: border-color 240ms ease-in-out;

    &.highlighted {
        border-color: rgba($main-accent, 1);

        &::before {
            z-index: 99;
            opacity: 0.5;
        }
    }

    &::before {
        content: "Drop Files to Upload";
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: white;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: $main-accent;
        z-index: -1;
        opacity: 0;

        transition: all 240ms ease-in-out;
    }
}

.img-grid {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
    grid-gap: 5px;

    &__image {
        position: relative;
        height: 150px;
        width: 150px;

        &::after {
            content: "";
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0);
            z-index: 99;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;

        }
    }
}

.media-window {
    position: absolute;
    height: 75%;
    width: 75%;

    top: calc(50% - 37.5%);
    left: 100%;

    background: white;

    z-index: 999;

    overflow: scroll;
    padding: 2rem;

    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);

    transition: left 240ms ease-in;

    &.open {
        left: calc(50% - 37.5%);
    }
}

.selected {

    &::before {
        background: $main-accent;
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        z-index: -1;

        height: calc(100% + 6px);
        width: calc(100% + 6px);
    }
}

.button-row {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
