// styling for css tabs, powered by radio buttons and labels

input[type=radio] {
  display: none;
}

.tab {
  display: inline-flex;
  height: 2rem;
  width: 8rem;
  justify-content: center;
  align-items: center;
  background: $light-accent;
  cursor: pointer;
}

#tabOne {
  &:checked {
    &~.content--wrapper #tabContentOne {
      visibility: visible;
    }

    &~label[for=tabOne] {
      background: $dark-accent;
    }
  }
}

#tabTwo {
  &:checked {
    &~.content--wrapper #tabContentTwo {
      visibility: visible;
    }

    &~label[for=tabTwo] {
      background: $dark-accent;
    }
  }
}

#tabThree {
  &:checked {
    &~.content--wrapper #tabContentThree {
      visibility: visible;
    }

    &~label[for=tabThree] {
      background: $dark-accent;
    }
  }
}

.content--wrapper {
  position: relative;

  .content {
    visibility: hidden;
    position: absolute;
  }
}
