@import 'field-card';
@import 'reset';
@import 'layout';

::selection,
::-moz-selection {
    background: CornflowerBlue !important;
}

.dashboard {
    display: flex;
    height: 100%;
    position: relative;
    overflow-x: hidden;

    &__nav {
        display: block;
        height: 100%;
        width: 200px;
        background: rgba(22,22,22,1);
        left: 0;
        top: 0;
        flex-shrink: 0;
        padding: 1rem;

        ul {
            display: flex;
            flex-direction: column;
        }

        li {
            margin-bottom: .5rem;
        }

        a {
            color: rgba(222,222,222, 1);
        }
    }

    &__body {
        display: block;
        flex-grow: 1;
        height: 100%;
        width: auto;
        background: rgba(222,222,222,1);
        left: 200px;
        top: 0;
        padding: 1rem;
    }
}

.modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.25);

    &--error {
        color: red;
    }

    &__card {
        height: 450px;
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: white;
    }
}