@import 'reset';
@import 'layout';
@import 'variables';
@import 'growler';
@import 'alert';
@import 'login';
@import 'type';
@import 'button';
@import 'input';
@import 'tab';
@import 'field-card';
@import 'media';
@import 'user';

::selection,
::-moz-selection {
    background: rgba($purple, .25) !important;
    color: $black;
}

html {
    font-family: 'PT Sans', sans-serif;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $black;
}

.page {}

a {
    color: $main-accent;
    text-decoration: none;
    transition: all 120ms ease-in-out;

    &:focus {
        outline: none;
    }

    &:focus,
    &:hover {
        color: darken($main-accent, 20%);
    }
}

.dashboard {
    display: flex;
    height: 100%;
    position: relative;
    overflow-x: hidden;

    &__nav {
        display: block;
        height: 100%;
        background: $black;
        left: 0;
        top: 0;
        flex-shrink: 0;

        .open {
            width: 200px;
        }

        ul {
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
        }

        li {
            height: 2rem;
            margin-bottom: .5rem;
            padding-left: 1rem;
            position: relative;
            transition: all 120ms ease-in-out;

            &:hover,
            &:focus {
                padding-left: 1.5rem;

                &::after {
                    width: 100%;
                }
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                transition: all 120ms ease-in-out;
            }

            &::before {
                height: 0%;
                bottom: 0;
                width: 3px;
            }

            &::after {
                height: 100%;
                width: 0%;
                top: 0;
                background: -moz-linear-gradient(left, rgba($main-accent, .25) 0%, rgba($light-accent, 0) 100%);
                z-index: 0;
            }

            &.router-link-exact-active {
                padding-left: 2rem;

                &::before {
                    height: 100%;
                    top: 0;
                    background: -moz-linear-gradient(top, $main-accent 0%, $dark-accent 100%);
                }

                &::after {
                    height: 100%;
                    width: 100%;
                    background: -moz-linear-gradient(left, rgba($main-accent, .25) 0%, rgba($light-accent, 0) 100%);
                    z-index: 0;
                }
            }
        }

        a {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            color: $gray;
            text-decoration: none;
            transition: all 120ms linear;
            z-index: 2;
        }
    }

    &__nav.open+&__body {
        left: 200px;
        width: calc(100% - 200px);
    }

    &__body {
        position: absolute;
        display: block;
        flex-grow: 1;
        height: 100%;
        width: 100%;
        background: $white;
        top: 0;
        overflow: scroll;
        border-top-left-radius: 25px;
        z-index: 2;
        left: 0;
        transition: all 240ms ease-in;
        padding: 5rem;

        &.animate {
            animation: bounce 2s 1 ease;
            // animation-iteration-count: 1;
        }
    }

    &__nav-toggle {
        content: "+";
        position: absolute;
        height: 100vh;
        width: 25px;
        left: 0;
        color: white;
        cursor: pointer;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        z-index: 99;

        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
        background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1);
        /* IE6-9 */


        transition: opacity 120ms ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    &__nav.open+&__nav-toggle {
        content: "-";
    }
}

.ql {

    &-snow {
        background: $white;
        width: 960px;
    }

    &-editor {
        height: 480px;
    }
}

.invalid {
    border: 1px solid $red;
    transition: all 120ms linear;
}

.page-card {
    display: block;
    width: 25rem;
    margin-bottom: 1rem;

    &__details {
        border-bottom: 1px solid $black;
        padding-bottom: .5rem;
    }

    &__utilities {
        margin-top: .5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__children-wrap {
        position: relative;
        margin-top: 1rem;
        margin-left: 2rem;

        summary {
            cursor: pointer;
            list-style: none;

            &::before {
                content: "+";
                position: absolute;
                left: -1rem;
            }
        }

        &[open] {
            summary {

                &::before {
                    content: "-";
                }
            }
        }
    }

    &__child {
        position: relative;
        width: 25rem;

        &::before {
            content: "Ëª";
            position: relative;
            left: 0;
        }
    }
}

.add-field {
    width: 960px;
    display: flex;
    align-items: center;
}

fieldset+* {
    margin-top: 0 !important; // margin collapse for some reason not working, so overriding
}

.empty {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $dark-accent;
}

#pageDescription {
    width: 960px;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
    border: 1px solid $main-accent;

    svg,
    svg path,
    svg line,
    svg rect,
    svg polyline,
    svg polygon {
        stroke: $main-accent;
    }

    .ql-fill {
        fill: $main-accent !important;
    }

    .ql-picker-label {
        color: $main-accent;
    }

    .ql-snow.ql-toolbar button:hover,
    .ql-snow .ql-toolbar button:hover,
    .ql-snow.ql-toolbar button:focus,
    .ql-snow .ql-toolbar button:focus,
    .ql-snow.ql-toolbar button.ql-active,
    .ql-snow .ql-toolbar button.ql-active,
    .ql-snow.ql-toolbar .ql-picker-label:hover,
    .ql-snow .ql-toolbar .ql-picker-label:hover,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active,
    .ql-snow .ql-toolbar .ql-picker-label.ql-active,
    .ql-snow.ql-toolbar .ql-picker-item:hover,
    .ql-snow .ql-toolbar .ql-picker-item:hover,
    .ql-snow.ql-toolbar .ql-picker-item.ql-selected,
    .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
        color: #dark-accent;
    }
}


@keyframes bounce {
    0% {
        left: 0;
    }

    5% {
        left: 80px;
    }

    20% {
        left: 0;
    }

    30% {
        left: 80px;
    }

    38% {
        left: 0;
    }

    45% {
        left: 55px;
    }

    50% {
        left: 0;
    }

    55% {
        left: 25px;
    }

    60% {
        left: 0;
    }
}
