@import 'field-card';
@import 'reset';
@import 'layout';
@import 'variables';

::selection,
::-moz-selection {
    background: CornflowerBlue !important;
}

.dashboard {
    display: flex;
    height: 100%;
    position: relative;
    overflow-x: hidden;

    &__nav {
        display: block;
        height: 100%;
        width: 200px;
        background: $black;
        left: 0;
        top: 0;
        flex-shrink: 0;
        padding: 1rem;

        ul {
            display: flex;
            flex-direction: column;
        }

        li {
            margin-bottom: .5rem;
        }

        a {
            color: $gray;
        }
    }

    &__body {
        display: block;
        flex-grow: 1;
        height: 100%;
        width: auto;
        background: $gray;
        left: 200px;
        top: 0;
        padding: 1rem;
    }
}

.modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black;

    &--error {
        color: red;
    }

    &__card {
        height: 450px;
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: white;
    }
}

.input {

    &--text {
        font-family: sans-serif;
        width: 960px;
        position: relative;

        label {
            position: absolute;
            font-size: 24px;
            left: 12px;
            top: calc(50% - 14px);
            color: $gray;
        }

        input {
            width: 100%;
            height: 48px;
            font-size: 24px;
            margin: 1rem 0;
            padding: 12px 15px;

            &:valid,
            &:focus,
            &:focus-within,
            &.focus-within {
                & ~ label {
                    display: none;
                }
            }
        }
    }
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $black;
    height: 24px;
    width: auto;
    font-size: 18px;
    padding: 1rem 2rem;
    background: $white;
    border-radius: 0;
    margin: 1rem 0;
    border: none;
}

.ql {

    &-snow {
        background: $white;
        width: 960px;
    }

    &-editor {
        height: 480px;
    }
}