@import 'field-card';
@import 'reset';
@import 'layout';
@import 'variables';
@import 'growler';

::selection,
::-moz-selection {
    background: CornflowerBlue !important;
}

html {
    font-family: 'PT Sans', sans-serif;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $black;
}

a {
    color: $main-accent;
    text-decoration: none;
    transition: all 120ms ease-in-out;

    &:focus {
        outline: none;
    }

    &:focus, &:hover {
        color: darken($main-accent, 20%);
    }
}

.dashboard {
    display: flex;
    height: 100%;
    position: relative;
    overflow-x: hidden;

    &__nav {
        display: block;
        height: 100%;
        width: 200px;
        background: $black;
        left: 0;
        top: 0;
        flex-shrink: 0;

        ul {
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
        }

        li {
            height: 2rem;
            margin-bottom: .5rem;
            padding-left: 1rem;
            position: relative;

            &:hover,
            &:focus {
                &::after {
                    width: 100%;
                }
            }

            &::before, &::after {
                content: "";
                position: absolute;
                left: 0;
                transition: all 120ms ease-in-out;
                top: 0;
            }

            &::before {
                height: 0%;
            }

            &::after {
                height: 100%;
                width: 0%;
                background: -moz-linear-gradient(left, rgba($main-accent, .25) 0%, rgba($light-accent, 0) 100%);
                z-index: 0;
            }

            &.router-link-exact-active {
                &::before {
                    height: 100%;
                    width: 3px;
                    background: -moz-linear-gradient(top, $main-accent 0%, $dark-accent 100%);
                }

                &::after {
                    height: 100%;
                    width: 100%;
                    background: -moz-linear-gradient(left, rgba($main-accent, .25) 0%, rgba($light-accent, 0) 100%);
                    z-index: 0;
                }
            }
        }

        a {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            color: $gray;
            text-decoration: none;
            transition: all 120ms linear;
            z-index: 2;
        }
    }

    &__body {
        position: absolute;
        display: block;
        flex-grow: 1;
        height: 100%;
        width: 100%;
        background: $white;
        left: 200px;
        top: 0;
        padding: 1rem;
        overflow: scroll;
        border-top-left-radius: 25px;
    }
}

.input {

    &--wysiwyg {
        position: relative;
    }

    &--text {
        font-family: sans-serif;
        width: 960px;
        position: relative;

        label {
            position: absolute;
            font-size: 24px;
            left: 12px;
            top: calc(50% - 14px);
            color: rgba($main-accent, .5);
        }

        input {
            width: 100%;
            height: 48px;
            font-size: 24px;
            margin: 1rem 0;
            padding: 12px 15px;
            background: none;
            border: none;
            border-bottom: 1px solid $main-accent;

            &:valid,
            &:focus,
            &:focus-within,
            &.focus-within {
                & ~ label {
                    display: none;
                }
            }
        }
    }
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $black;
    height: 24px;
    width: auto;
    font-size: 18px;
    padding: 1rem 2rem;
    background: $white;
    border-radius: 0;
    margin: 1rem 0;
    border: none;
}

.ql {

    &-snow {
        background: $white;
        width: 960px;
    }

    &-editor {
        height: 480px;
    }
}

fieldset {
    position: relative;
    border: 0;
    padding: 0;
    width: 960px;
    margin: 1rem 0;

    label {
        position: absolute;
        left: 0;
        top: 4px;
        color: rgba($main-accent, .5);
        font-size: 1.5rem;
        padding-left: 12px;
    }

    input {
        background: none;
        border: none;
        border-bottom: 1px solid $main-accent;
        width: 100%;
        height: 2.5rem;
        font-size: 1.5rem;
        padding-left: 12px;
    }

    textarea {
        background: none;
        border: none;
        border-bottom: 1px solid $main-accent;
        width: 100%;
        font-size: 1.5rem;
        min-height: 2.5rem;
        padding-left: 12px;
        font-family: 'PT Sans', sans-serif;
    }

    input:focus ~ label,
    input:focus-within ~ label,
    input.focus-within ~ label,
    input:valid ~ label,
    textarea:focus ~ label,
    textarea:focus-within ~ label,
    textarea.focus-within ~ label,
    textarea:valid ~ label {
        display: none;
    }
}

input[type=radio] {
  display: none;
}

.tab {
  display: inline-flex;
  height: 4rem;
  width: 8rem;
  justify-content: center;
  align-items: center;
  background: lightgrey;
  cursor: pointer;
}

#tabOne {
  &:checked {
    & ~ .content--wrapper #tabContentOne {
      display: block;
    }

    & ~ label[for=tabOne] {
      background: gray;
    }
  }
}

#tabTwo {

  &:checked {
    & ~ .content--wrapper #tabContentTwo {
      display: block
    }

    & ~ label[for=tabTwo] {
      background: gray;
    }
  }
}

.content--wrapper {
  position: relative;

  .content {
    display: none;
    position: absolute;
  }
}

.invalid {
    border: 1px solid $red;
    transition: all 120ms linear;
}

button.delete {
    background: none;
    color: $red;
    height: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $red;
    font-family: 'PT Sans', sans-serif;
    transition: all 120ms ease-in-out;
    padding: 0 .5rem;
    cursor: pointer;

    &:hover {
        background: $red;
        color: $white;
    }
}

.page {
    margin-bottom: 1rem;
}