.field-card {
  display: block;
  height: auto;
  background: lightgray;
  border: 2px solid darkgrey;
  padding: 1rem;
  margin: 1rem 0;
  width: 480px;
}

.field-card__name {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid darkgrey;
  font-size: 1.5rem;
}

.field-card__meta {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.5rem;
}

*,
*::before,
*::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html,
body {
  box-sizing: border-box;
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

article,
body,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
ol,
p,
section,
select,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

nav ul li,
nav ol li {
  display: inline-block;
}

::-moz-selection,
::-moz-selection {
  background-color: lightgray;
  color: #000000;
  text-shadow: none;
}

::selection,
::-moz-selection {
  background-color: lightgray;
  color: #000000;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}

[aria-controls] {
  cursor: pointer;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[aria-disabled] {
  cursor: default;
}

[class^=l-] {
  display: flex;
  flex-wrap: nowrap;
}

[class^=l-] > * {
  flex: 1 1 auto;
}

.l-full > * {
  flex: 1 1 auto;
}

.l-halves > * {
  width: 50%;
}

.l-thirds > * {
  width: 33.33%;
}

.l-thirds--one-two > *:nth-child(1) {
  width: 33.33%;
}

.l-thirds--one-two > *:nth-child(2) {
  width: 66.66%;
}

.l-thirds--two-one > *:nth-child(1) {
  width: 66.66%;
}

.l-thirds--two-one > *:nth-child(2) {
  width: 33.33%;
}

.l-quarters > * {
  width: 25%;
}

.l-quarters--one-three > *:nth-child(1) {
  width: 25%;
}

.l-quarters--one-three > *:nth-child(2) {
  width: 75%;
}

.l-auto {
  flex: 1 1 auto;
}

@media (max-width: 1279px) {
  .l--1280 {
    flex-wrap: wrap;
  }

  .l--1280 > * {
    width: 100%;
  }
}

@media (max-width: 1139px) {
  .l--1140 {
    flex-wrap: wrap;
  }

  .l--1140 > * {
    width: 100%;
  }
}

@media (max-width: 959px) {
  .l--960 {
    flex-wrap: wrap;
  }

  .l--960 > * {
    width: 100%;
  }
}

@media (max-width: 639px) {
  .l--640 {
    flex-wrap: wrap;
  }

  .l--640 > * {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .l--480 {
    flex-wrap: wrap;
  }

  .l--480 > * {
    width: 100%;
  }
}

::-moz-selection,
::-moz-selection {
  background: CornflowerBlue !important;
}

::selection,
::-moz-selection {
  background: CornflowerBlue !important;
}

.dashboard {
  display: flex;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.dashboard__nav {
  display: block;
  height: 100%;
  width: 200px;
  background: #161616;
  left: 0;
  top: 0;
  flex-shrink: 0;
  padding: 1rem;
}

.dashboard__nav ul {
  display: flex;
  flex-direction: column;
}

.dashboard__nav li {
  margin-bottom: 0.5rem;
}

.dashboard__nav a {
  color: #dedede;
}

.dashboard__body {
  display: block;
  flex-grow: 1;
  height: 100%;
  width: auto;
  background: #dedede;
  left: 200px;
  top: 0;
  padding: 1rem;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #161616;
}

.modal--error {
  color: red;
}

.modal__card {
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
}

.input--wysiwyg {
  position: relative;
}

.input--text {
  font-family: sans-serif;
  width: 960px;
  position: relative;
}

.input--text label {
  position: absolute;
  font-size: 24px;
  left: 12px;
  top: calc(50% - 14px);
  color: #dedede;
}

.input--text input {
  width: 100%;
  height: 48px;
  font-size: 24px;
  margin: 1rem 0;
  padding: 12px 15px;
}

.input--text input:valid ~ label,
.input--text input:focus ~ label,
.input--text input:focus-within ~ label,
.input--text input.focus-within ~ label {
  display: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #161616;
  height: 24px;
  width: auto;
  font-size: 18px;
  padding: 1rem 2rem;
  background: white;
  border-radius: 0;
  margin: 1rem 0;
  border: none;
}

.ql-snow {
  background: white;
  width: 960px;
}

.ql-editor {
  height: 480px;
}

