@charset "UTF-8";

.field-card {
  display: block;
  height: auto;
  background: lightgray;
  border: 2px solid darkgrey;
  padding: 1rem;
  margin: 1rem 0;
  width: 480px;
}

.field-card__name {
  display: block;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid darkgrey;
  font-size: 1.5rem;
}

.field-card__meta {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0.5rem;
}

*,
*::before,
*::after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html,
body {
  box-sizing: border-box;
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

article,
body,
button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
ol,
p,
section,
select,
textarea,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

nav ul li,
nav ol li {
  display: inline-block;
}

::-moz-selection,
::-moz-selection {
  background-color: lightgray;
  color: #000000;
  text-shadow: none;
}

::selection,
::-moz-selection {
  background-color: lightgray;
  color: #000000;
  text-shadow: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}

[aria-controls] {
  cursor: pointer;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}

[aria-disabled] {
  cursor: default;
}

[class^=l-] {
  display: flex;
  flex-wrap: nowrap;
}

[class^=l-] > * {
  flex: 1 1 auto;
}

.l-full > * {
  flex: 1 1 auto;
}

.l-halves > * {
  width: 50%;
}

.l-thirds > * {
  width: 33.33%;
}

.l-thirds--one-two > *:nth-child(1) {
  width: 33.33%;
}

.l-thirds--one-two > *:nth-child(2) {
  width: 66.66%;
}

.l-thirds--two-one > *:nth-child(1) {
  width: 66.66%;
}

.l-thirds--two-one > *:nth-child(2) {
  width: 33.33%;
}

.l-quarters > * {
  width: 25%;
}

.l-quarters--one-three > *:nth-child(1) {
  width: 25%;
}

.l-quarters--one-three > *:nth-child(2) {
  width: 75%;
}

.l-auto {
  flex: 1 1 auto;
}

@media (max-width: 1279px) {
  .l--1280 {
    flex-wrap: wrap;
  }

  .l--1280 > * {
    width: 100%;
  }
}

@media (max-width: 1139px) {
  .l--1140 {
    flex-wrap: wrap;
  }

  .l--1140 > * {
    width: 100%;
  }
}

@media (max-width: 959px) {
  .l--960 {
    flex-wrap: wrap;
  }

  .l--960 > * {
    width: 100%;
  }
}

@media (max-width: 639px) {
  .l--640 {
    flex-wrap: wrap;
  }

  .l--640 > * {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .l--480 {
    flex-wrap: wrap;
  }

  .l--480 > * {
    width: 100%;
  }
}

.growler {
  position: absolute;
  bottom: 2rem;
  right: -100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 500px;
  padding: 1rem 2rem;
  transition: all 250ms linear;
}

.growler.show {
  right: 2rem;
}

.growler.success {
  color: #00a305;
}

.growler.success::before {
  content: "\2713";
  padding: 0 2rem 0 0;
  font-size: 3rem;
}

.growler.alert {
  color: #fc9714;
}

.growler.alert::before {
  content: "!";
  padding: 0 2rem 0 0;
  font-size: 3rem;
}

.growler.error {
  color: #fc325e;
}

.growler.error::before {
  content: "X";
  padding: 0 2rem 0 0;
  font-size: 3rem;
}

::-moz-selection,
::-moz-selection {
  background: CornflowerBlue !important;
}

::selection,
::-moz-selection {
  background: CornflowerBlue !important;
}

html {
  font-family: "PT Sans", sans-serif;
  color: #3A4755;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3A4755;
}

a {
  color: #BF68A0;
  text-decoration: none;
  transition: all 120ms ease-in-out;
}

a:focus {
  outline: none;
}

a:focus,
a:hover {
  color: #88396c;
}

.dashboard {
  display: flex;
  height: 100%;
  position: relative;
  overflow-x: hidden;
}

.dashboard__nav {
  display: block;
  height: 100%;
  width: 200px;
  background: #3A4755;
  left: 0;
  top: 0;
  flex-shrink: 0;
}

.dashboard__nav ul {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.dashboard__nav li {
  height: 2rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  position: relative;
}

.dashboard__nav li:hover::after,
.dashboard__nav li:focus::after {
  width: 100%;
}

.dashboard__nav li::before,
.dashboard__nav li::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 120ms ease-in-out;
  top: 0;
}

.dashboard__nav li::before {
  height: 0%;
}

.dashboard__nav li::after {
  height: 100%;
  width: 0%;
  background: -moz-linear-gradient(left, rgba(191, 104, 160, 0.25) 0%, rgba(200, 143, 138, 0) 100%);
  z-index: 0;
}

.dashboard__nav li.router-link-exact-active::before {
  height: 100%;
  width: 3px;
  background: -moz-linear-gradient(top, #BF68A0 0%, #CA9CAB 100%);
}

.dashboard__nav li.router-link-exact-active::after {
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(191, 104, 160, 0.25) 0%, rgba(200, 143, 138, 0) 100%);
  z-index: 0;
}

.dashboard__nav a {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  color: #dedede;
  text-decoration: none;
  transition: all 120ms linear;
  z-index: 2;
}

.dashboard__body {
  position: absolute;
  display: block;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  background: #F6F6F2;
  left: 200px;
  top: 0;
  padding: 1rem;
  overflow: scroll;
  border-top-left-radius: 25px;
}

.input--wysiwyg {
  position: relative;
}

.input--text {
  font-family: sans-serif;
  width: 960px;
  position: relative;
}

.input--text label {
  position: absolute;
  font-size: 24px;
  left: 12px;
  top: calc(50% - 14px);
  color: rgba(191, 104, 160, 0.5);
}

.input--text input {
  width: 100%;
  height: 48px;
  font-size: 24px;
  margin: 1rem 0;
  padding: 12px 15px;
  background: none;
  border: none;
  border-bottom: 1px solid #BF68A0;
}

.input--text input:valid ~ label,
.input--text input:focus ~ label,
.input--text input:focus-within ~ label,
.input--text input.focus-within ~ label {
  display: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #3A4755;
  height: 24px;
  width: auto;
  font-size: 18px;
  padding: 1rem 2rem;
  background: #F6F6F2;
  border-radius: 0;
  margin: 1rem 0;
  border: none;
}

.ql-snow {
  background: #F6F6F2;
  width: 960px;
}

.ql-editor {
  height: 480px;
}

fieldset {
  position: relative;
  border: 0;
  padding: 0;
  width: 960px;
  margin: 1rem 0;
}

fieldset label {
  position: absolute;
  left: 0;
  top: 4px;
  color: rgba(191, 104, 160, 0.5);
  font-size: 1.5rem;
  padding-left: 12px;
}

fieldset input {
  background: none;
  border: none;
  border-bottom: 1px solid #BF68A0;
  width: 100%;
  height: 2.5rem;
  font-size: 1.5rem;
  padding-left: 12px;
}

fieldset textarea {
  background: none;
  border: none;
  border-bottom: 1px solid #BF68A0;
  width: 100%;
  font-size: 1.5rem;
  min-height: 2.5rem;
  padding-left: 12px;
  font-family: "PT Sans", sans-serif;
}

fieldset input:focus ~ label,
fieldset input:focus-within ~ label,
fieldset input.focus-within ~ label,
fieldset input:valid ~ label,
fieldset textarea:focus ~ label,
fieldset textarea:focus-within ~ label,
fieldset textarea.focus-within ~ label,
fieldset textarea:valid ~ label {
  display: none;
}

input[type=radio] {
  display: none;
}

.tab {
  display: inline-flex;
  height: 4rem;
  width: 8rem;
  justify-content: center;
  align-items: center;
  background: lightgrey;
  cursor: pointer;
}

#tabOne:checked ~ .content--wrapper #tabContentOne {
  display: block;
}

#tabOne:checked ~ label[for=tabOne] {
  background: gray;
}

#tabTwo:checked ~ .content--wrapper #tabContentTwo {
  display: block;
}

#tabTwo:checked ~ label[for=tabTwo] {
  background: gray;
}

.content--wrapper {
  position: relative;
}

.content--wrapper .content {
  display: none;
  position: absolute;
}

.invalid {
  border: 1px solid #fc325e;
  transition: all 120ms linear;
}

button.delete {
  background: none;
  color: #fc325e;
  height: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fc325e;
  font-family: "PT Sans", sans-serif;
  transition: all 120ms ease-in-out;
  padding: 0 0.5rem;
  cursor: pointer;
}

button.delete:hover {
  background: #fc325e;
  color: #F6F6F2;
}

.page {
  margin-bottom: 1rem;
}

